body{
    background-image: url(./TuVAKb.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Lucida Console", "Courier New", monospace;
}
img {
    max-width:100%;
    max-height:100%;
}
.container1{
    background-color: whitesmoke;
    width: 60%;
    height: 80%;
    margin: auto;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}
.sec1{
    margin: 30px;
    width: 67%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
    border-radius: 40px;
}
#radius{
    margin-left: 12%;
}
#max{
    margin-bottom: 20px;
}
#type{
    margin-top: 20px;
}
.sec2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkox{
    padding-left: 10px;
    padding-right: 10px;
}
.part1{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid lightgray;
}
.slogan1{
    margin-bottom: 30px;
}
select{
    border-radius: 10px;
    outline: none;
    -webkit-appearance: none;
    border: solid 1px;
    padding-left: 5px;
    padding-right: 5px;
}
input{
    outline: none;
    border-radius: 10px;
    border: solid 1px;
}
.button{
    background-color: whitesmoke; 
    color: black; 
    border: 2px solid #008CBA;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    padding: 8px;
}
.button:hover {
    background-color: #008CBA;
    color: white;
  }